<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <div class="top-nav">

        <h4 class="sm black bold">
            新城党建 达人挑战赛
            <small>第{{ quiz.round }}轮 {{ quiz.attempts}}/{{ quiz.attempts_limit}}次</small>
        </h4>

        <ul class="top-nav-list">
            <li class="pull-left" style="position:relative;z-index:0">
                <a ng-show="quiz.score === null">时间: {{ timeLeft > 0 ? timeLeft : '--:--' | date:'mm:ss' }}</a>
                <a ng-show="quiz.score !== null">用时: {{ quiz.duration * 1000 || '--:--' | date:'mm:ss' }}</a>
            </li>
            <li class="prev-course" ng-show="currentQuestion > 0"><a ng-click="goToQuestion(currentQuestion - 1)"><i class="icon md-angle-left"></i></a></li>
            <li class="next-course" ng-show="currentQuestion < quiz.questions.length - 1"><a ng-click="goToQuestion(currentQuestion + 1)"><i class="icon md-angle-right"></i></a></li>
            <li class="outline-learn" ng-class="{active:showingOutline}" ng-click="toggleOutline()">
                <a href="#"><i class="icon md-list"></i></a>
                <div class="list-item-body outline-learn-body">
                    <div class="section-learn-outline">
                        <h5 class="section-title">题目列表</h5>
                        <ul class="section-list">
                            <li ng-repeat="question in quiz.questions" ng-class="{'o-view':question.user_answer_correct !== undefined}">
                                <div class="list-body">
                                    <a ng-click="goToQuestion($index)">
                                        <h6>第{{ $index + 1 }}题</h6>
                                        <p>{{ question.title}} </p>
                                    </a>
                                </div>
                                <div class="download">
                                    <a href="#"><i class="icon md-angle-right"></i></a>
                                </div>
                                <div class="div-x" ng-show="question.user_answer_correct !== false"><i class="icon md-check-2"></i></div>
                                <div class="div-x wrong" ng-show="question.user_answer_correct === false"><i class="icon md-close-2"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        
    </div>
    <section id="quizz-intro-section" class="quizz-intro-section learn-section">
        <div class="container">

            <div class="question-content-wrap">
                <div class="row">
                    <div class="col-md-8">
                        <div class="question-content">
                            <h4 class="sm">第{{ currentQuestion + 1 }}题 - 单选</h4>
                            <p>{{ question.title }}</p>
                            <h4 class="sm correct answer-hint" ng-show="question.user_answer_correct === true">正确</h4>
                            <h4 class="sm wrong answer-hint" ng-show="question.user_answer_correct === false">错误, 答案为{{ question.answer }}</h4>
                            <div class="answer">
                                <h4 class="sm">选项</h4>
                                <ul class="answer-list">
                                   <li ng-repeat="choice in question.choices track by $index">
                                        <input type="radio" id="answer{{$index}}" ng-model="$parent.question.user_answer" ng-value="$index | choiceLabel" ng-disabled="question.user_answer_correct !== undefined">
                                        <label for="answer{{$index}}">
                                            <i class="icon icon_radio"></i>
                                            {{ $index | choiceLabel }}. {{ choice }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <span ng-show="quiz.score === null && question.user_answer !== undefined && !submitting">
                                <a class="mc-btn btn-style-1" ng-click="submit()" ng-show="quiz.score === null && question.user_answer_correct === undefined">提交</a>
                                <a class="mc-btn btn-style-6" ng-click="goToQuestion(currentQuestion + 1)" ng-show="question.user_answer_correct !== undefined && currentQuestion < quiz.questions.length - 1">下一题</a>
                            </span>

                            <a class="mc-btn btn-style-6" ng-click="scrollToScore()" ng-show="quiz.score !== null">查看结果</a>

                            <span class="mc-btn" ng-show="submitting">
                                提交中...
                            </span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <aside class="question-sidebar">
                            <div id="score-sb" class="score-sb">
                                <h4 class="title-sb bold" ng-show="quiz.score > 0">本次通关成功</h4>
                                <h4 class="title-sb fail bold" ng-show="quiz.score === 0">本次通关失败</h4>
                                <div>
                                    <h4 class="title-sb sm bold" ng-click="scrollToScore()">
                                        <a>第{{ quiz.round }}轮 第{{ quiz.attempts }}次</a>
                                        <span ng-show="quiz.score !== null">得分 {{ quiz.score }}</span>
                                        <span ng-show="quiz.score === null">正在答题...</span>
                                    </h4>
                                </div>
                                <ul>
                                    <li ng-repeat="question in quiz.questions" ng-class="{active:$index===currentQuestion}"><i class="icon"></i>第{{$index+1}}题 <i class="fa" ng-class="{'fa-check':question.user_answer_correct===true,'fa-close':question.user_answer_correct===false}"></i></li>
                                </ul>
                                <div ng-repeat="historyQuiz in quizzes" ng-show="historyQuiz.id !== quiz.id && historyQuiz.score !== null">
                                    <h4 class="title-sb sm bold" ng-click="scrollToScore();showQuiz(historyQuiz.id)">
                                        <a>第{{ historyQuiz.round }}轮 第{{ historyQuiz.attempts }}次</a>
                                        <span>得分 {{ historyQuiz.score }}</span>
                                    </h4>
                                </div>
                            </div>
                            <button type="button" class="submit mc-btn btn-style-1" ng-click="close()" ng-show="shouldShowCloseButton && finishedAll">完成</button>
                            <button type="button" class="submit mc-btn btn-style-1" ng-click="continue()" ng-show="!finishedAll && quiz.score !== null">继续答题</button>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END / PAGE WRAP -->
